name: Deploy Flutter Rust Web to Cloudflare Pages

on:
  push:
    branches:
      - main  

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'beta'
          cache: true

      - name: Install FRB Codegen
        run: cargo install flutter_rust_bridge_codegen 

      - name: Run Codegen
        run: flutter_rust_bridge_codegen generate

      - name: Build Flutter Web(Rust WASM)
        run: flutter_rust_bridge_codegen build-web --release

      - name: Build Flutter Web(Flutter Build)
        run: flutter build web --release 

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy build/web --project-name=vad